on init
     export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
     setprop crypto.ready 1

on fs
    install_keyring

on early-fs
    start vold

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-trustonic /vendor/bin/hw/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
	-r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05140000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
	-r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
	-r /vendor/app/mcRegistry/07050000000000000000000000003545.drbin \
	-r /vendor/app/mcRegistry/07090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
	-r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-0-trustonic

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster_attestation-1-1
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-0-trustonic

on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-0-trustonic

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-0-trustonic

on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-0-trustonic

on property:crypto.ready=0
    stop mobicore
    stop keymaster_attestation-1-1
    stop vendor.gatekeeper-1-0
    stop vendor.keymaster-4-0-trustonic

on boot
 #Added Manual For Trustonic
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on init
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system

    #begin modify by jin.yan on 20190828 task 8131461
    write /proc/bootprof "MOBICORE: export MC_AUTH_TOKEN_PATH /mnt/vendor/persist/backup"
    mkdir /mnt/vendor/persist/backup 0771 system system
    restorecon /mnt/vendor/persist/backup
    export MC_AUTH_TOKEN_PATH /mnt/vendor/persist/backup
    #end modify by jin.yan on 20190828 task 8131461

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore

on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (unencrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system

    #begin modify by jin.yan on 20190828 task 8131461
    symlink /mnt/vendor/persist/backup/00000000.authtokcont /data/vendor/mcRegistry/00000000.authtokcont
    chown system system /data/vendor/mcRegistry/00000000.authtokcont
    chmod 0600 /data/vendor/mcRegistry/00000000.authtokcont
    #end modify by jin.yan on 20190828 task 8131461

    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system

    #begin modify by jin.yan on 20190828 task 8131461
    symlink /mnt/vendor/persist/backup/00000000.authtokcont /data/vendor/mcRegistry/00000000.authtokcont
    chown system system /data/vendor/mcRegistry/00000000.authtokcont
    chmod 0600 /data/vendor/mcRegistry/00000000.authtokcont
    #end modify by jin.yan on 20190828 task 8131461

    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FDE encrypted)"
    mkdir /data/vendor/mcRegistry 0775 system system

    #begin modify by jin.yan on 20190828 task 8131461
    symlink /mnt/vendor/persist/backup/00000000.authtokcont /data/vendor/mcRegistry/00000000.authtokcont
    chown system system /data/vendor/mcRegistry/00000000.authtokcont
    chmod 0600 /data/vendor/mcRegistry/00000000.authtokcont
    #end modify by jin.yan on 20190828 task 8131461

    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FDE encrypted)"
